* {
  margin: 0;
  padding: 0;
}

body {
  margin: 0;
  background-image: url(images/background.jpg);
  background-size: cover;
}
.result-trip-container {
  background: url(images/train.png);
  background-repeat: no-repeat;
  background-position: center center;
  overflow-x: hidden;
}
.no-result-trip-container {
  background: url(images/notfound.png);
  background-repeat: no-repeat;
  background-position: center center;
}

#container {
  height: 100vh;
  width: 100vw;
}

#header {
  grid-row-start: 1;
  grid-row-end: 2;
  grid-column-start: 1;
  grid-column-end: 13;
  display: flex;
  justify-content: space-between;
  align-items: center;
  background-color: #ffffff;
  height: 50px;
  padding-left: 50px;
  padding-right: 50px;
}

#raccourcis {
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  align-items: center;
  background-color: #ffffff;
  width: 200px;
}

#titre {
  color: GREEN;
  font-size: 30px;
}

#background {
  size: cover;
}

.search-trip-container {
  width: 250px;
  height: 300px;
  margin: 30px;
  padding: 30px;
  background-color: white;
  border-radius: 20px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.result-trip-container {
  width: 250px;
  height: 300px;
  margin: 30px;
  padding: 30px;
  background-color: white;
  border-radius: 20px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  overflow: scroll;
}

.no-result-trip-container {
  width: 250px;
  height: 300px;
  margin: 30px;
  padding: 30px;
  background-color: white;
  border-radius: 20px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

#milieu {
  display: flex;
  flex-direction: row;
  justify-content: space-evenly;
  align-items: center;
}

h1 {
  color: #ffffff;
}
h3 {
  color: #ffffff;
}

#titres-Soustitres {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin-top: 40px;
}

.search-trip-container input {
  border: 0;
  padding: 10px;
  background: #f1f1f1;
  margin: 5px;
  width: 170px;
}
#search {
  width: 12vw;
  padding: 6px;
  border: 2px #ffffff solid;
  border-radius: 5px;
  color: #ffffff;
  background-color: rgb(125, 180, 125);
  font-size: 12px;
  margin: 5px;
}

.train {
  width: 200px;
}
.one-trip-container {
  width: 280px;
  height: 50px;
  margin: 5px;
  padding: 5px;
  background-color: #f1f1f1;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

#book {
  width: 2.5vw;
  padding: 2px;
  border: 2px #ffffff solid;
  border-radius: 5px;
  color: #ffffff;
  background-color: rgb(125, 180, 125);
  font-size: 12px;
  margin: 5px;
}
.booking-trip-container {
  width: 600px;
  height: 300px;
  margin: 30px;
  padding: 30px;
  background-color: white;
  border-radius: 20px;
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  align-items: center;
}

.total-booking {
  width: 800px;
  height: 20px;
  margin: 0px;
  padding: 15px;
  background-color: rgb(49, 46, 81);
  border-radius: 20px;
}

#booking-milieu {
  display: flex;
  flex-direction: column;
  justify-content: center;
  height: calc(100vh - 50px);
  align-items: center;
}

#total-booking {
  display: flex;
  flex-direction: column;
  justify-content:flex-end;
  height: 50vh;
  align-items: flex-end;
}
.booking-trip-container {
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  align-items:flex-end ;
}

#acheter{
  width: 3vw;
  padding: 2px;
  border: 2px #ffffff solid;
  border-radius: 5px;
  color: #ffffff;
  background-color: rgb(125, 180, 125);
  font-size: 12px;
  margin: 5px;
}